---
// IMPORTS
import LessonList from "../../components/LessonList.astro";
import MainLayout from "../../layouts/MainLayout.astro";

---

<!-- All about Layout -->
<MainLayout title="Lesson 5 | Astro">
    <section class="general">
        <h1>Lesson 5 | All about Layout</h1>
    
        <h2>Astro recommend to create another folder inside src and called it <strong>layouts</strong></h2>
    </section>

    <LessonList />
</MainLayout>

