---
// IMPORTS
import LessonList from "../../components/LessonList.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<!-- Public Folder -->
<MainLayout title="Lesson 4 | Astro">
    <section class="general">
        <h1>Lesson 4 | Public Folder</h1>
    
        <h2>
            Everything inside the public folder Astro doesn't transform and is the
            place to put static assets like images, videos, etc.
        </h2>
    </section>

    <LessonList />
</MainLayout>
