---
// IMPORTS
import LessonList from "../../components/LessonList.astro";
import MainLayout from "../../layouts/MainLayout.astro";

---

<!-- Goole Fonts -->
<MainLayout title="Lesson 7 | Astro">
    <section class="general">
        <h1>Lesson 7 | Google Fonts</h1>

        <p>We can add the Google Font to our website in the <code>MainHead.astro</code></p>

        
    </section>

    <LessonList />
</MainLayout>

<style>
    p {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5rem;
    }
</style>

