---

---

<section class="general">
    <h1>Astro Blog Tutorial Index</h1>

    <ul>
        <li><a href="/lessons/lesson1">Lesson #1 | How to use Astro</a></li>
        <li><a href="/lessons/lesson2">Lesson #2 | Looping from a data object</a></li>
        <li><a href="/lessons/lesson3">Lesson #3 | Fetching data</a></li>
        <li><a href="/lessons/lesson4">Lesson #4 | Public Folder</a></li>
        <li><a href="/lessons/lesson5">Lesson #5 | All about Layout</a></li>
        <li><a href="/lessons/lesson6">Lesson #6 | All about Styling</a></li>
        <li><a href="/lessons/lesson7">Lesson #7 | Google Fonts</a></li>
        <li><a href="/lessons/lesson8">Lesson #8 | Javascript on the Client</a></li>
        <li><a href="/lessons/lesson9">Lesson #9 | Astro + Libraries</a></li>
        <li><a href="/lessons/lesson10">Lesson #10 | Maping Datas</a></li>
        
    </ul>
</section>

<style>
    ul {
        font-size: 1.2rem;
        width: 500px;
        max-width: 550px;
        margin: 0.5rem auto;
        border-radius: 5px;
        list-style: none;
        padding: 1rem;
        box-shadow: rgba(3, 3, 3, 0.906) 10px 10px 0px;
        background: azure;
    }

    ul li {
        font-weight: bold;
        padding: 0.5rem
    }

    a {
        color: #28213a;
    }

    a:hover {
        color: #2f511a;
    }
</style>